{% extends 'jobs/base.html' %}
{% block content %}

<div class="row justify-content-center mt-5">
  <div class="col-md-5">
    <div class="card shadow border-0 rounded-4">
      <div class="card-body p-5">
        <h4 class="fw-bold mb-1 text-center">Create Account</h4>
        <p class="text-muted text-center mb-4" style="font-size:13px">Use a unique username like priya_23 or deepu_hyd</p>
<p class="text-muted text-center mb-4" style="font-size:12px">Password can be anything — choose something you'll remember</p>
         <form method="POST">
          {% csrf_token %}
          {% for field in form %}
            <div class="mb-3">
              <label class="form-label fw-semibold" style="font-size:14px">{{ field.label }}</label>
              <input
                type="{{ field.field.widget.input_type }}"
                name="{{ field.html_name }}"
                class="form-control rounded-3 {% if field.errors %}is-invalid{% endif %}"
                {% if field.value %}value="{{ field.value }}"{% endif %}
                style="padding: 10px 14px; font-size:14px"
              >
              {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>
          {% endfor %}
          <button type="submit" class="btn btn-dark w-100 rounded-3 mt-2" style="padding:10px">Register</button>
        </form>
        <p class="text-center mt-3 mb-0" style="font-size:13px">Already have an account? <a href="{% url 'login' %}">Login</a></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}